* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border-radius: 0.2em;
  color: rgb(39, 39, 39);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.25s linear;
}

.App {
  text-align: center;
  height: 20em;
  width: 20em;
  box-shadow: 0 0 3px rgba(0, 0, 0, 25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  position: relative;
  background-color: #c7c7c7;
}

.randomNumber {
  width: 100%;
  height: 20%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.randomNumber > div {
  color: #88112f;
  padding-left: 10px;
  transition: 0.25s linear;
}

.form-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30%;
}

.input-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

input {
  width: 100%;
  height: 30%;
  border: none;
  color: rgb(0, 255, 136);
  outline: none;
}

button {
  width: 100%;
  height: 20%;
  border: none;
  transition: 0.3s;
  outline: none;
}

.themeToggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 30px;
  border-radius: 15px;
}

.switcher-ball {
  background-color: #dd7a77;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  transform: translateX(0px);
  transition: 0.25s linear;
}
